/* CSS */
@font-face {
    font-family: 'Switzer';
    src: url('https://fonts.cdnfonts.com/css/switzer') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #001F3F;  /* Navy background */
    padding-bottom: 2%;
    color: #d3d3d3;  /* Light Gray text color */
}

.display-2 {
    font-size: 4rem;
    text-align: center;
    padding-top: 10%;
}

.btn-lg,
.btn-block {
    font-size: 2rem;
    text-decoration: none;
    background-color: #1f5b5c;
    border: none;
    padding: 30px;
    margin: 10px 0;
    width: 100%;
}

p.lead {
    font-size: 48px;
    line-height: 62px;
}

.container {
    position: static;
    width: 100vw;
    height: 100%;
    padding-top: 16%;
    padding-bottom: 10%;
    padding-left: 8%;
}

.wrapper {
    max-width: 65%;
    margin: 0 auto;
}

.link:hover,
.btn:hover {
    color: #9f915d;  /* Original hover color */
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #001F3F;  /* Navy background */
    color: #d3d3d3;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Responsive */
@media (max-width: 991px) {
    p.lead {
        font-size: 36px;
        line-height: 48px;
    }
    .wrapper {
        width: 80%;
    }
}

.accordion-item {
    margin-top: 3rem;
}

.dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f5b5c;
    color: #d3d3d3;
    border: none;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
}

.dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
}

.accordion-content {
    background-color: #1f5b5c;
    color: #d3d3d3;
    padding: 10px;
}

.service-link-wrap {
    margin-top: 10px;
}

.service-link-wrap .underlined-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d3d3d3;
}

.service-link-wrap .underlined-link:hover,
.service-link-wrap .underlined-link:focus {
    color: #d3d3d3;
}

.service-link-wrap .underline {
    flex-grow: 1;
    height: 2px;
    background-color: #d3d3d3;
    margin-left: 10px;
}



.link {
    color: #d3d3d3;
    text-decoration: none;
    position: relative;
}

.link:hover {
    color: #9f915d;
}

.text-span-2,
.text-span-3 {
    display: inline-block;
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    margin-left: 4px;
    color: #d3d3d3;
}

h1.display-1 {
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    padding-top: 0%;
}

h1.display-2 {
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;
    padding-top: 10%;
}

p.paragraph {
    font-size: 30px;
    line-height: 1.8;
    color: #d3d3d3;
    margin-bottom: 40px;
}
